html
    head
        title Index Page
    body
        h1  Hello Jade!!
        h2  View Engine
        hr
        #header
            h1  Hello Jade!!
            h2  View Engine
        hr
        .article
            a(href="http://hanbit.co.kr" data-test="multiple Attribute") Goto Hanbit Media Site